[Unit]
Description=Caddy Web Server
After=network-online.target

[Container]
Image=docker.io/library/caddy:2.7-alpine
ContainerName=caddy
Volume=caddy-data:/data:Z
Volume=caddy-config:/config:Z
Volume=/etc/caddy:/etc/caddy:ro,Z
PublishPort=80:80
PublishPort=443:443
PublishPort=443:443/udp
Environment=TZ=UTC
Label=io.containers.autoupdate=registry
HealthCmd=wget --no-verbose --tries=1 --spider http://localhost:2019/health || exit 1
HealthInterval=30s
HealthRetries=3
HealthStartPeriod=10s
HealthTimeout=3s
Exec=caddy run --config /etc/caddy/Caddyfile --adapter caddyfile

[Service]
Restart=always
RestartSec=30
TimeoutStopSec=70

[Install]
WantedBy=default.target