[Unit]
Description=Loki Log Aggregation System
After=network-online.target

[Container]
Image=docker.io/grafana/loki:2.9.3@sha256:5dbced69a5a90c666e588e21bb55933b673f3287ac2ede5e8c9a79e9e8b6e8f9
ContainerName=loki
Volume=loki-data:/loki:Z
Volume=/etc/loki:/etc/loki:ro,Z
PublishPort=3100:3100
Environment=TZ=UTC
Label=io.containers.autoupdate=registry
HealthCmd=wget --no-verbose --tries=1 --spider http://localhost:3100/ready || exit 1
HealthInterval=30s
HealthRetries=3
HealthStartPeriod=30s
HealthTimeout=3s
User=10001
Exec=-config.file=/etc/loki/loki-config.yaml

[Service]
Restart=always
RestartSec=30
TimeoutStopSec=70

[Install]
WantedBy=default.target