[Unit]
Description=Prometheus Node Exporter
After=network-online.target

[Container]
Image=docker.io/prom/node-exporter:v1.7.0
ContainerName=node-exporter
PublishPort=9100:9100
PodmanArgs=--pid=host --memory=128m --cpus=0.2
Network=host
Environment=TZ=UTC
Label=io.containers.autoupdate=registry
HealthCmd=wget --no-verbose --tries=1 --spider http://localhost:9100/metrics || exit 1
HealthInterval=30s
HealthRetries=3
HealthStartPeriod=10s
HealthTimeout=3s
User=65534
Exec=--path.procfs=/host/proc \
      --path.sysfs=/host/sys \
      --path.rootfs=/host \
      --collector.filesystem.mount-points-exclude="^/(dev|proc|sys|run|var/lib/docker/.+|var/lib/containers/storage/.+)($|/)" \
      --collector.netclass.ignored-devices="^(veth.*|br.*|docker.*|virbr.*|lo)$"
Volume=/proc:/host/proc:ro,rslave
Volume=/sys:/host/sys:ro,rslave
Volume=/:/host:ro,rbind

[Service]
Restart=always
RestartSec=30
TimeoutStopSec=70

[Install]
WantedBy=default.target