[defaults]
inventory = ./ansible/inventories/local/hosts.yml
host_key_checking = False
interpreter_python = auto_silent
callbacks_enabled = ansible.posix.profile_tasks
stdout_callback = yaml
retry_files_enabled = False
gathering = smart
fact_caching = jsonfile
fact_caching_connection = /tmp/ansible_facts
fact_caching_timeout = 3600
timeout = 30

[inventory]
enable_plugins = yaml, ini, auto

[ssh_connection]
pipelining = True
control_path = /tmp/ansible-%%h-%%p-%%r
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no