apiVersion: 1

providers:
{% for dashboard in grafana_dashboards %}
  - name: {{ dashboard.name }}
    orgId: 1
    folder: {{ dashboard.folder | default('') }}
    type: file
    disableDeletion: false
    updateIntervalSeconds: 10
    allowUiUpdates: true
    options:
      path: {{ grafana_dashboards_dir }}

{% endfor %}