apiVersion: 1

datasources:
{% for datasource in grafana_datasources %}
  - name: {{ datasource.name }}
    type: {{ datasource.type }}
    access: {{ datasource.access }}
    url: {{ datasource.url }}
    isDefault: {{ datasource.isDefault | default(false) | lower }}
    basicAuth: {{ datasource.basicAuth | default(false) | lower }}
{% if datasource.basicAuthUser is defined %}
    basicAuthUser: {{ datasource.basicAuthUser }}
{% endif %}
{% if datasource.basicAuthPassword is defined %}
    basicAuthPassword: {{ datasource.basicAuthPassword }}
{% endif %}
{% if datasource.jsonData is defined %}
    jsonData:
{% for key, value in datasource.jsonData.items() %}
      {{ key }}: {{ value }}
{% endfor %}
{% endif %}
{% if datasource.secureJsonData is defined %}
    secureJsonData:
{% for key, value in datasource.secureJsonData.items() %}
      {{ key }}: {{ value }}
{% endfor %}
{% endif %}

{% endfor %}