# {{ ansible_managed }}
# Unattended-upgrades configuration

Unattended-Upgrade::Allowed-Origins {
    "${distro_id}:${distro_codename}-security";
    "${distro_id}ESMApps:${distro_codename}-apps-security";
    "${distro_id}ESM:${distro_codename}-infra-security";
};

Unattended-Upgrade::DevRelease "false";
Unattended-Upgrade::AutoFixInterruptedDpkg "true";
Unattended-Upgrade::MinimalSteps "true";
Unattended-Upgrade::InstallOnShutdown "false";

{% if base_unattended_upgrades_mail %}
Unattended-Upgrade::Mail "{{ base_unattended_upgrades_mail }}";
Unattended-Upgrade::MailReport "on-change";
{% endif %}

Unattended-Upgrade::Remove-Unused-Kernel-Packages "true";
Unattended-Upgrade::Remove-New-Unused-Dependencies "true";
Unattended-Upgrade::Remove-Unused-Dependencies "true";

Unattended-Upgrade::Automatic-Reboot "{{ base_unattended_upgrades_auto_reboot | lower }}";
{% if base_unattended_upgrades_auto_reboot %}
Unattended-Upgrade::Automatic-Reboot-Time "{{ base_unattended_upgrades_auto_reboot_time }}";
{% endif %}

Unattended-Upgrade::SyslogEnable "true";
Unattended-Upgrade::SyslogFacility "daemon";