[Unit]
Description=Authentik Identity Provider Server
After=network-online.target redis.service postgresql.service
Requires=redis.service postgresql.service

[Container]
Image=ghcr.io/goauthentik/server:{{ authentik_version }}
ContainerName={{ authentik_server_container_name }}
Network={{ authentik_network_name }}
EnvironmentFile=/etc/authentik/authentik.env
Volume={{ authentik_media_path }}:/media:Z
Volume={{ authentik_templates_path }}:/templates:Z
Volume={{ authentik_geoip_path }}:/geoip:Z
PublishPort={{ authentik_http_port }}:9000
PublishPort={{ authentik_https_port }}:9443
{% if authentik_enable_metrics %}
PublishPort={{ authentik_metrics_port }}:9300
{% endif %}
PodmanArgs=--memory={{ authentik_server_memory_limit }} --cpus={{ authentik_server_cpu_limit }} --user=997:986
HealthCmd=wget --no-verbose --tries=1 --spider http://localhost:9000/api/v3/root/config/ || exit 1
HealthInterval=30s
HealthRetries=3
HealthStartPeriod=90s
HealthTimeout=10s
Exec=server

[Service]
Restart=always
RestartSec=30
TimeoutStopSec=70

[Install]
WantedBy=default.target