[Unit]
Description=Run Homelab Backup Daily
Requires=backup-timer.service

[Timer]
OnCalendar=daily
OnCalendar=02:00
Persistent=true

[Install]
WantedBy=timers.target